.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close-btn {
  background-image: url(../images/black.x.btn.svg);
  position: absolute;
  border: none;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  cursor: pointer;
  background-color: inherit;
}

.modal__close-btn_type_preview {
  background-image: url(../images/white.x.btn.svg);
  top: 0;
  bottom: -52.5px;
  right: -48px;
}
.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
  font-size: 16px;
}

.modal__input {
  margin: 8px 0 0;
  padding: 16px 12px;
  font-size: 20px;
  max-width: 630px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  line-height: 1;
  border-radius: 8px;
  color: #212121;
}

.modal__error {
  display: block;
  margin-top: 8px;
  color: red;
  /* todo the correct font size */
}

/*.modal__error_visible {
  visibility: visible;
} */

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  padding: 18px 32px;
  background-color: #212121;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 0.5;
}
.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  border-radius: 8px;
  background-color: black;
  display: inline-block;
  padding: 8px;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__title {
    margin: 0 0 34px;
    font-size: 20px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
